.mybox {
  width: 100%;
  min-height: 160px;
  display: flex;
  gap: 10px;
  overflow-x: scroll;
  direction: rtl;
  scroll-behavior: smooth;
  margin: 24px 0;
  padding-right: 20px;
}
.mybox::-webkit-scrollbar {
  background: transparent; /* make scrollbar transparent */
  -webkit-appearance: none;
  width: 0;
  height: 0;
}

.mybox div {
  min-width: 15%;
  max-width: 16%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 320px) {
  .mybox {
    max-height: 320px;
  }
  .mybox div {
    min-width: 27%;
    width: 50%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .mybox {
    height: 300px;
  }
  .mybox div {
    min-width: 15%;
    width: 20%;
  }
}
