@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    direction: rtl;
}

@font-face {
    font-family: medium;
    src: url("../public/fonts/Qs_Iranyekan\ medium.woff") format("woff");
}

@font-face {
    font-family: bold;
    src: url("../public/fonts/Qs_Iranyekan\ bold.woff") format("woff");
}

@font-face {
    font-family: light;
    src: url("../public/fonts/Qs_Iranyekan\ light.woff") format("woff");
}

@font-face {
    font-family: thin;
    src: url("../public/fonts/Qs_Iranyekan\ thin.woff") format("woff");
}

@font-face {
    font-family: extrabold;
    src: url("../public/fonts/Qs_Iranyekan\ extrabold.woff") format("woff");
}

@font-face {
    font-family: black_Iranyekan;
    src: url("../public/fonts/Qs_Iranyekan\ black.woff") format("woff");
}

@layer utilities {
  @variants responsive {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }
  }
}

.bodyContainer {
  background-color: white;
  overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #7e7e7e7c;
  z-index: 100;
}

.customPadOption {
  padding: 5.49px 11px 5.32px 14px;
  line-height: 1.6;
}

.customPhoneRounded {
  border-radius: 22px 32px 32px 22px;
}

.scrollHorizontal {
    overflow-x: auto;
}

.scrollHorizontal::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.scrollHorizontal::-webkit-scrollbar-track {
    background-color: transparent;
}

.scrollHorizontal::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.shadowHeader::before {
    position: absolute;
    content: "";
    inset: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(180deg, rgba(115,119,121,0.7455357142857143) 0%, rgba(115,119,121,0) 100%);
}

.imageRendering {
    image-rendering: pixelated;
}

.shadowBox {
    box-shadow: 0 0.125rem 1.5rem 0 rgba(14,16,17,.08);
}

.transformIcon {
    transform: translate(50%, -40%);
}

